<div id="main">
<h1>About Pyrostia</h1>

<p>Pyrostia is a <b>free weekly menu planner</b> letting you plan your meals and grocery shopping for the week. Pyrostia is experimental project in alpha stage. Your data is <b>backed up frequently</b> but we do not guarantee against data loss.</p>

<h2>Privacy</h2>
<p>Your email address or cooking data will not be shared with anyone ever.</p>

<h2>Technology</h2>
<p>Pyrostia UI is based on <a href="http://jquery.com">jQuery</a> and <a href="http://knockoutjs.com/">Knockout.js</a>.</p>
</div>