<!doctype html>
<head>    
    <meta charset="utf-8">

    <title>Pyrostia: Free Weekly Menu Planner</title>       

    <!-- Delete these two icon references once you've placed them in the root directory with these file names -->
    <!-- favicon 16x16 -->
    <link rel="shortcut icon" href="<?=SITE_URL?>favicon.ico">
    <!-- apple touch icon 57x57 -->
    <link rel="apple-touch-icon" href="<?=SITE_URL?>apple-touch-icon.png">    
    <link rel="stylesheet" href="<?=SITE_URL?>css/normalize.css">   
    <link rel="stylesheet" href="<?=SITE_URL?>css/screen.css?v=1.0">    
    <script src="<?=SITE_URL?>lib/modernizr.custom.76568.js"></script>  
    <script src="<?=SITE_URL?>jquery/jquery.min.js"></script>
    <script src="<?=SITE_URL?>jquery/jquery.validate.min.js"></script>
    <script src="<?=SITE_URL?>jquery/additional-methods.js"></script>
    <script>!window.jQuery && document.write(unescape('%3Cscript src="<?=SITE_URL?>js/jquery-1.4.4.min.js"%3E%3C/script%3E'))</script>
    <script src="<?=SITE_URL?>jquery/jquery.form.js"></script>  
    <script type='text/javascript' src='<?=SITE_URL?>jquery/jquery.tmpl.js'></script>
    <script type='text/javascript' src='<?=SITE_URL?>jquery/jquery.tmplPlus.js'></script>
    <script type='text/javascript' src='<?=SITE_URL?>lib/knockout-1.2.1.js'></script>
    <script type='text/javascript' src='<?=SITE_URL?>lib/knockout.mapping-latest.js'></script>
    <script type="text/javascript">
	window.google_analytics_uacct = "UA-138459-4";
	</script>
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-138459-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>    
    <header id="hd1">                
        <h1>Pyrostia: Weekly Menu Planner</h1>        
        <nav>
            <ul>
                <li><a href="<?=SITE_URL?>">Home</a></li>
                <li><a href="<?=SITE_URL?>about">About</a></li>
                <li><a href="<?=SITE_URL?>contact">Contact</a></li>
                <?php if(!empty($l_user)):?>
                <li><a href="<?=SITE_URL?>logout">Exit</a></li>
                <?php endif;?>
            </ul>
        </nav>

    </header><!-- #hd1 -->

    <?php require($view);?>

    <!-- The main footer has an ID for targeting, similar to the main header -->
    <footer id="f1">
		<p>This Weekly Menu Planner is Powered by <a href="http://calendarscripts.info/pyrostia/">Pyrostia</a></p>
    </footer><!-- #f1 -->

<script src="<?=SITE_URL?>lib/functions.js"></script>
</body>